.weibu{
    width:100%;
    height:350px;
    background-color:#2e2e2e;
}
.weibu>img{
    margin-top:43px;
}
.weibu>img:first-child{
    margin-left:367px;
    margin-right:130px;
}
.weibu>p{
    color:white;
    text-align:center;
    font-size:13px;
    margin-top:15px;
    padding-top:5px;
    line-height:1.8;
}